body {
  font-family: arial;
}
.tasks-container,
.input-grid {
  display: grid;
  grid-template-columns: 150px 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
  text-align: center;
  align-items: center;
}
.input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
#todo-second {
  font-size: 15px;
  padding: 5px;
}
.add-todo-button {
  background-color: #007c34;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.delete-todo-button {
  background-color: darkred;
  border: none;
  color: white;
  padding: 5px 27px;
  font-size: 15px;
}
